{% extends "base.html" %} {% block content %}

<style>
  .login {
    text-align: center;
    font-family: "LeferiBaseType-BoldA";
  }
  .login {
    text-align: center;
  }
  .loginform {
    margin: 0 auto;
  }
  .sns-btn {
    float: left;
  }
  .sns-btn button {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
  }
  .signup {
    font-family: "LeferiBaseType-BoldA";
  }
</style>

<div class="login-form" style="margin-top: 10%">
  <h3 class="mb-5"><p class="text-dark login">LOGIN</p></h3>
  <form method="post" class="post-form" action="{% url 'users:login' %}">
    {% csrf_token %}
    <!-- 로그인 성공 후 이동되는 URL -->
    <input type="hidden" name="next" value="{{ next }}" />
    {% include "error/form_error.html" %}
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="사용자 ID를 입력하세요."
        id="username"
        value="{{ form.username.value|default_if_none:'' }}"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="비밀번호를 입력하세요."
        id="password"
        value="{{ form.password.value|default_if_none:'' }}"
      />
    </div>
    <button type="submit" class="btn btn-dark col-12" style="margin-bottom: 10px">로그인</button>
    <p>
      아이디가 없으신가요? <a href="{% url 'users:signup' %}" style="text-decoration: none" class="text-dark signup"> &nbsp; 회원가입</a>
    </p>
  </form>
</div>
{% endblock %}
