{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container my-3">
  <div class="user-container my-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="thead-dark">
          <th style="width: 60px">USER</th>
          <th style="width: 120px">EMAIL</th>
          <th style="width: 120px">PHONE</th>
        </tr>
      </thead>
      <tbody>
        {% for username in allusers %}
        <tr>
          <td>{{ username }}</td>
          <td>{{ username.email }}</td>
          <td>{{ username.profile.phone }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
