{% extends 'base.html' %} {% block title %} Member {% endblock %} {% block content %} {% load static %}
<div class="container my-3">
  <div class="user-container my-3">
    <table class="table table table-hover">
      <thead>
        <tr class="thead-dark">
          <th style="width: 60px">USER</th>
          <th style="width: 120px">EMAIL</th>
          <th style="width: 120px">ADDRESS</th>
        </tr>
      </thead>
      <tbody>
        {% for username in allusers %}
        <tr>
          <td><a href="{% url 'users:profile' username.pk %}" style="text-decoration: none;" class="text-dark">{{ username }}</a></td>
          <td>{{ username.email }}</td>
          <td>{{ username.profile.address }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
