{% extends 'cal/cal_base.html' %} {% block title %} Schedule {% endblock %} {% block content_side %}
<div class="clearfix">
  <a class="btn btn-dark right" href="{% url 'cal:calendar' %}?{{ next_month }}"> > </a>
  <a class="btn btn-dark right" href="{% url 'cal:calendar' %}?{{ prev_month }}"> < </a>
  <a class="btn btn-dark left" href="{% url 'cal:event_new' %}"> New Event </a>
</div>
<style>
  li{
    list-style: none;
    
  }
  a{
    text-decoration: none;
  }
</style>

{{ calendar }} {% endblock %}
